extends layout.pug
block append content
    canvas(id="demo")
    div(id="test")
    h1 test
    h2 test test
    button(type="button" class="btn btn-primary") Test
    button(type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on right") Tooltip information